In [8]:
import matplotlib.pyplot as plt
import pandas as pd

In [9]:
df = pd.read_csv("../../data/models/by-days/4-17-2020.csv")

In [10]:
# Filtrovanie iba Europskych krajin
europe=df.loc[df.Country.isin(['Austria',
'Belgium',
'Bulgaria',
'Croatia',
'Cyprus',
'Czechia',
'Denmark',
'Estonia',
'Finland',
'France',
'Germany',
'Greece',
'Hungary',
'Ireland',
'Italy',
'Latvia',
'Lithuania',
'Luxembourg',
'Malta',
'Netherlands',
'Poland',
'Portugal',
'Romania', 
'Slovakia',
'Slovenia',
'Spain',
'Sweden'])]

In [11]:
# Vyfiltrujem na krajiny EU
europe = europe.filter(["Country","Confirmed","Deaths","Recovered","Active"], axis=1)
# Krajiny, ktore maju viacero provincii, spojim a ostatne stlpce scitam
# Zacnem cislovat od zaciatku
europe = europe.groupby(['Country']).agg({'Confirmed':'sum','Deaths':'sum','Recovered':'sum','Active':'sum'}).reset_index()
# indexovanie od 1, nie od 0
europe.index = europe.index + 1

In [18]:
# Vypis vysledneho dataframu Europy
europe

        Country  Confirmed  Deaths  Recovered  Active
1       Austria      14595     431       9704    4460
2       Belgium      36138    5163       7961   23014
3      Bulgaria        846      41        141     664
4       Croatia       1814      36        600    1178
5        Cyprus        750      12         77     661
6       Czechia       6549     173       1174    5202
7       Denmark       7268     336       3571    3361
8       Estonia       1459      38        145    1276
9       Finland       3489      82       1700    1707
10       France     149130   18703      35006   95421
11      Germany     141397    4352      83114   53931
12       Greece       2224     108        269    1847
13      Hungary       1763     156        207    1400
14      Ireland      13980     530         77   13373
15        Italy     172434   22745      42727  106962
16       Latvia        682       5         88     589
17    Lithuania       1149      33        210     906
18   Luxembourg       3480      72        579    2829
19        Malta        422       3         91     328
20  Netherlands      30619    3471        315   26833
21       Poland       8379     332        866    7181
22     Portugal      19022     657        519   17846
23      Romania       8067     411       1508    6148
24     Slovakia       1049       9        175     865
25     Slovenia       1304      66        174    1064
26        Spain     190839   20002      74797   96040
27       Sweden      13216    1400        550   11266